html, body{
  height: 100%;
  .CodeMirror {
    border: 1px solid #eee;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
}
#app {
  padding: 20px;
  height: 100%;
  .demo-container{
    display: flex;
    height: 100%;
    .input-block{
      flex: 1;
      textarea{
        height: 90%;
        width: 90%;
      }
    }
    .demo-display-block{
      padding: 20px;
      flex: 2;
      border-left: 1px solid #ddd;
    }
  }
}