html, body{
  height: 100%;
  .CodeMirror {
    border: 1px solid #eee;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
}
#app {
  padding: 20px;
  height: 100%;
  .demo-container {
    height: 100%;
  }
}

.json-design {
  display: flex;
  .input-block{
    flex: 2;
    textarea{
      height: 90%;
      width: 90%;
    }
  }
  .demo-display-block{
    padding: 20px;
    flex: 1;
    border-left: 1px solid #ddd;
  }
}